<div style="grid-column: 1 / 2; border: 1px solid #ccc;">
  <div class="search-form">
    <label for="search-text"></label>
    <input type="text" id="search-text">
    <button>検索</button>
  </div>
  <h1>記事一覧</h1>
  <button @click="handleClickRefresh">更新</button>
  <div class="post-list">
    <ul>
      <li
        v-for="post in qiitaPostList"
        :class="{
          highlight: selectedPostId === post.id
        }"
        @click="handleClickPost(post.id, $event)"
      >
        {{ post.title }}
      </li>
    </ul>
  </div>
</div>
