<div style="grid-column: 2 / 3; border: 1px solid #ccc;">
  <template v-if="Object.keys(selectedContent).length">
    <div
      class="post-info"
    >
      <div><img :src="selectedContent.user.profile_image_url" width="32" height="32"></img></div>
      <div>{{ selectedContent.user.id }}</div>
      <div>{{ selectedContent.created_at }}</div>
    </div>
    <h1>{{ selectedContent.title }}</h1>
    <div
      class="tags"
    >
      <span 
        v-for="tag in selectedContent.tags"
        class="tag"
      >
        {{ tag.name }}
      </span>
    </div>
    <div
      v-html="selectedContent.rendered_body"
      class="post-content"
    >
    </div>
  </template>

  <template v-else>
    Not selected.
  </template>
</div>
